@font-face {
    font-family: 'Open Sans';
    src: url('~fonts/font-files/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url('~fonts/font-files/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'cormorant-garamond';
    src: url('~fonts/font-files/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'cormorant-garamond';
    src: url('~fonts/font-files/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'days-one';
    src: url('~fonts/font-files/Days_One/DaysOne-Regular.ttf') format('truetype');
    font-weight: 400 800;
}

@font-face {
    font-family: 'merriweather';
    src: url('~fonts/font-files/Merriweather/Merriweather-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'merriweather';
    src: url('~fonts/font-files/Merriweather/Merriweather-Bold.ttf') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'ubuntu';
    src: url('~fonts/font-files/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'ubuntu';
    src: url('~fonts/font-files/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 800;
}