.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 616px;
  transform: translateX(-100%); /* Скрыть сайдбар за левый край экрана */
  transition: transform 0.5s ease; /* Плавная анимация */
  overflow-y: auto; /* Добавьте прокрутку для содержимого, если это необходимо */
}

.container_open {
  transform: translateX(0); /* Переместить сайдбар в видимую область */
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 616px;
  height: auto;
  gap: 50px;
  min-height: 100%;
  padding: 50px 31px;
  flex-shrink: 0;
  border-right: 1px solid #000;
  background-color: #fff;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
